.second-part {
  font-family: "Roboto", sans-serif;
}

.bg-dark {
  background-color: #282828;
  color: #fff;
  overflow-y: auto;
}

.text-yellow {
  text-transform: uppercase;
  color: #ffe626;
  font-size: 14px;
  margin: 0;
}

.card {
  width: 33.33%;
  float: left;
}

.card:first-child {
  margin-right: 95px;
  width: 28%;
}

.card:nth-child(2) {
  width: 20%;
  margin-right: 95px;
}

.techgeek .list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.techgeek .list li {
  display: inline-block;
  margin-right: 5px;
}

.techgeek .list-item-link {
  width: 34px;
  height: 34px;
  background-color: #373737;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

.techgeek .list-item-link i {
  line-height: 34px;
  position: relative;
}

.techgeek .list li:last-child {
  margin-right: 0;
}

.techgeek .description {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  padding-bottom: 31px;
}

.post article {
  margin-bottom: 10px;
}

.post .image {
  float: left;
}

.post .description {
  width: 100px;
  float: right;
  margin-bottom: 20px;
}

.post article {
  clear: both;
}

.post .description p {
  font-size: 15px;
  margin: 8px 0;
  font-weight: 500;
}

.post .description p small {
  font-size: 14px;
  font-weight: normal;
}

.instagram .images {
  width: 100%;
  margin: 0 auto;
}

.instagram .images img {
  width: 30%;
}

.instagram .title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
